require.config({
  paths: {
    vs: '../node_modules/monaco-editor/min/vs',
    prettier: '../node_modules/prettier'
  }
})
require([
  'vs/editor/editor.main',
  'prettier/standalone',
  'prettier/parser-babylon'
], function(monaco, prettier, ...plugins) {
  monaco.languages.typescript.javascriptDefaults.addExtraLib(`
<%= typings %>
  `)

  monaco.languages.typescript.javascriptDefaults.addExtraLib(`
<%= es6 %>
  `)

  <%= js %>
})

