a {
  color: grey;
}
a:visited {
  color: grey;
}

h1,
.controls {
  padding-bottom: 20px;
  font-family: 'Courier New', Courier, monospace;
}
.btn {
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 3px;
}

#editor {
  width: 100%;
  height: 600px;
  border: 1px solid gray;
}
@media only screen and (min-width: 600px) {
  .main {
    padding-left: 10%;
  }
  #editor {
    width: 600px;
  }
}

.footer {
  max-width: 600px;
  padding-top: 5px;
  font-family: 'Courier New', Courier, monospace;
}

#copied-text {
  display: inline;
  opacity: 0;
  transition: 1s opacity;
}
